<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">List of Patient</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
            <li class="breadcrumb-item active">Patient</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div class="table-responsive">
                <table class="datatable table table-hover table-center mb-0">
                  <thead>
                  <tr>
                    <th>UserName Apply</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Accept</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let apply of whoApplys">
                  <tr>
                    <td>{{apply.appUser.username}}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{apply.appUser.imageUrls}}" alt="User Image"></a>
                        <a href="profile.html">{{apply.appUser.lastName}} {{apply.appUser.firstName}}</a>
                      </h2>
                    </td>
                    <td>{{apply.appUser.gender}}</td>
                    <td>{{apply.appUser.phoneNumber}}</td>
                    <td>
                      <button type="button" class="btn btn-success" (click)="acceptApply(apply.postEntity.id,apply.id)">Accept</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="deleteApply(apply.id)">Delete</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
