<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Appointments</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Appointments</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="datatable table table-hover table-center mb-0">
                <thead>
                <tr>
                  <th>Employer Name</th>
                  <th>Speciality</th>
                  <th>Described</th>
                  <th>Date</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody *ngFor="let apply of myApplys">
                <tr>
                  <td>
                    <h2 class="table-avatar">
                      <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{apply.postEntity.user.imageUrls}}" alt="User Image"></a>
                      <a href="profile.html">{{apply.postEntity.user.username}}</a>
                    </h2>
                  </td>
                  <td>Dental</td>
                  <td>
                    <h2 class="table-avatar">
                      <a href="profile.html">{{apply.postEntity.content}}</a>
                    </h2>
                  </td>

                  <td><span class="text-primary d-block">{{apply.date}}</span></td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="deleteApply(apply.id)">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>
