<app-header></app-header>
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Booking</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Booking</h2>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body">
            <div class="booking-doc-info">
              <a href="doctor-profile.html" class="booking-doc-img">
                <img src="{{doctor.imageUrls}}" alt="User Image">
              </a>
              <div class="booking-info">
                <h4><a href="doctor-profile.html">{{doctor.username}}</a></h4>
                <div class="rating" *ngIf="doctor.percentFeedback == 4">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">{{doctor.countFeedback}}</span>
                </div>
                <div class="rating" *ngIf="doctor.percentFeedback == 5">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <span class="d-inline-block average-rating">{{doctor.countFeedback}}</span>
                </div>
                <div class="rating" *ngIf="doctor.percentFeedback == 3">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <span class="d-inline-block average-rating">{{doctor.countFeedback}}</span>
                </div>
                <div class="rating" *ngIf="doctor.percentFeedback == 2">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <span class="d-inline-block average-rating">{{doctor.countFeedback}}</span>
                </div>
                <div class="rating" *ngIf="!doctor.percentFeedback">
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <i class="fas fa-star "></i>
                  <span class="d-inline-block average-rating">{{doctor.countFeedback}}</span>
                </div>
                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Schedule Widget -->
        <div class="card booking-schedule schedule-widget">

          <!-- Schedule Header -->
          <div class="schedule-header">
            <div class="row">
              <div class="col-md-12">

                <!-- Day Slot -->
                <div class="day-slot">
                  <ul>
                    <li class="left-arrow">
                      <a href="javascript:void(0);">
                        <i class="fa fa-chevron-left"></i>
                      </a>
                    </li>
                    <li>
                      <span class="slot-date">{{today}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li>
                      <span class="slot-date">{{today + 1}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li>
                      <span class="slot-date">{{today + 2}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li>
                      <span class="slot-date">{{today + 3}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li>
                      <span class="slot-date">{{today + 4}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li>
                      <span class="slot-date">{{today + 5}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li>
                      <span class="slot-date">{{today + 6}}/{{date.getMonth()}}/ <small
                        class="slot-year">{{date.getFullYear()}}</small></span>
                    </li>
                    <li class="right-arrow">
                      <a href="javascript:void(0);">
                        <i class="fa fa-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- /Day Slot -->

              </div>
            </div>
          </div>
          <!-- /Schedule Header -->

          <!-- Schedule Content -->
          <div class="schedule-cont">
            <div class="row">
              <div class="col-md-12">

                <!-- Time Slot -->
                <div class="time-slot">
                  <ul class="clearfix">
                    <li>
                      <a *ngIf="checkBooking(today,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                        <a *ngIf="checkBooking(today,2) == false" class="timing" href="javascript:void(0);">
                          <span>10:00 - 12:00</span> <span>AM</span>
                        </a>


                        <a *ngIf="checkBooking(today,3) == true" class="timing selected" href="javascript:void(0);">
                          <span>13:00 - 15:00</span> <span>PM</span>
                        </a>

                      <a *ngIf="checkBooking(today,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                    <li>
                      <a *ngIf="checkBooking(today+1,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today+1,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+1,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+1,2) == false" class="timing" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+1,3) == true" class="timing selected" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+1,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+1,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today+1,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                    <li>
                      <a *ngIf="checkBooking(today+2,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today+2,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+2,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+2,2) == false" class="timing" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+2,3) == true" class="timing selected" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+2,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+2,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today+2,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                    <li>
                      <a *ngIf="checkBooking(today+3,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today+3,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+3,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+3,2) == false" class="timing" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+3,3) == true" class="timing selected" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+3,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+3,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today+3,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                    <li>
                      <a *ngIf="checkBooking(today+4,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today+4,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+4,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+4,2) == false" class="timing" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+4,3) == true" class="timing selected" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+4,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+4,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today+4,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                    <li>
                      <a *ngIf="checkBooking(today+5,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today+5,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+5,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+5,2) == false" class="timing" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+5,3) == true" class="timing selected" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+5,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+5,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today+5,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                    <li>
                      <a *ngIf="checkBooking(today+6,1) == true" class="timing selected" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>

                      <a *ngIf="checkBooking(today+6,1) == false" class="timing" href="javascript:void(0);">
                        <span>8:00 - 10:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+6,2) == true" class="timing selected" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+6,2) == false" class="timing" href="javascript:void(0);">
                        <span>10:00 - 12:00</span> <span>AM</span>
                      </a>


                      <a *ngIf="checkBooking(today+6,3) == true" class="timing selected" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today+6,3) == false" class="timing" href="javascript:void(0);">
                        <span>13:00 - 15:00</span> <span>PM</span>
                      </a>

                      <a *ngIf="checkBooking(today,4) == true" class="timing selected" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>
                      <a *ngIf="checkBooking(today+6,4) == false" class="timing" href="javascript:void(0);">
                        <span>15:00 - 17:00</span> <span>PM</span>
                      </a>

                    </li>
                  </ul>
                </div>
                <!-- /Time Slot -->

              </div>
            </div>
          </div>
          <!-- /Schedule Content -->

        </div>
        <!-- /Schedule Widget -->

        <!-- Submit Section -->
        <h4>Chọn thời gian muốn Booking</h4>
        <select [(ngModel)]="timeBooking" class="browser-default custom-select">
          <option value="1">8:00 - 10:00</option>
          <option value="2">10:00 - 12:00</option>
          <option value="3">13:00 - 15:00</option>
          <option value="4">15:00 - 17:00</option>
        </select>
        <br>
        <br>
        <h4>Chọn ngày muốn Booking</h4>
        <input [(ngModel)]="dateBooking" type="date">
        <br>
        <br>
        <h4>Bạn muốn nói gì không</h4>
        <textarea type="text" [(ngModel)]="comment"></textarea>
        <div class="submit-section proceed-btn">
          <a href="javascript:void(0);" (click)="bookingDoctor()" class="btn btn-primary submit-btn">Booking Doctor</a>
        </div>
        <!-- /Submit Section -->

      </div>
    </div>
  </div>

</div>
<div class="row d-flex justify-content-center mt-100 mb-100">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">FeedBack Doctor</h4>
      </div>
      <div class="comment-widgets">
        <!-- Comment Row -->
        <div *ngFor="let feedback of listFeedback" class="d-flex flex-row comment-row m-t-0">
          <div class="p-2"><img src="{{feedback.user.imageUrls}}" alt="user" width="50" class="rounded-circle"></div>
          <div class="comment-text w-100">
            <h6 class="font-medium">{{feedback.user.username}}</h6> <span class="m-b-15 d-block">{{feedback.content}} </span>
            <div class="comment-footer"> <span class="text-muted float-right">{{feedback.date}}</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
          </div>
        </div>
      </div> <!-- Card -->
    </div>
  </div>
</div>
<app-footer></app-footer>
